apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hostpath
spec:
  storageClassName: nfs-storageclass
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 500m
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: wildfly
  name: wildfly
spec:
  replicas: {{.Values.replicaCount}}
  serviceName: wildfly-svc
  selector:
    matchLabels:
      app: wildfly
  template:
    metadata:
      labels: 
        app: wildfly
    spec:
      containers:
      - image: docker.io/jboss/wildfly
        name: wildfly
        ports:
          - name: http-port
            containerPort: 8080
        volumeMounts:
          - name: wildfly-vol
            mountPath: /opt/jboss/wildfly/standalone/deployments
        command: ["/opt/jboss/wildfly/bin/standalone.sh"]
        args: ["-b","0.0.0.0","-bmanagement","0.0.0.0"] 
        lifecycle:
            postStart:
              exec:
                command: ["/opt/jboss/wildfly/bin/add-user.sh","admin","Admin123","--silent"]
      volumes:
      - name: wildfly-vol
        persistentVolumeClaim:
          claimName: hostpath1
        

